debug.txt
happyShooting2/Debug
happyShooting2/happyShooting2.sln
happyShooting2/happyShooting2/happyShooting2.vcxproj
happyShooting2/happyShooting2/happyShooting2.vcxproj.filters
happyShooting2/happyShooting2/happyShooting2.vcxproj.user
happyShooting2/.vs
happyShooting2/happyShooting2/Debug